body {
    background-color: #c0c0c0;
}

h1 {
    color: #150485;
}

h3 {
    color: #1b262c;
}

hr {
    background-color: white;
    border-style: dotted none none;
    border-color: black;
    border-width: thick;
    width: 10%;
   
}

.checked {
    color: orange;
      }


